body {
	margin: 0;
	background-color: #eee;
	font-family: "arial, helvetica, 'sans-serif'";
}

#navigation {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: 10px 0;
}

#navigation-inside {
	width: 600px;
	margin: 0 auto;
}

#navigation-inside ul {
	width: 100%;
	list-style: none;
	text-align: center;
	padding 0px;
	margin 0px;

}

#navigation-inside ul li {
	width: 25%;
	float: left;
}

a {
	color: #333;
	text-decoration: none;
}

a:active, a:hover {
	color: #1998E2;
}

.active {
	font-weight: bold;
}

#quick-menu {
	position: fixed;
	z-index: 2;
	top: 60px;
	left: 20px;
	width: 200px;
	height: auto;
	background: white;
	padding: 20px 10px;
}

#quick-menu h3 {
	margin-top: 0px;
	text-align: center;
	color: #333;
	font-size: 18px;
}
#header {
	width: 100%;
	height: 250px;
	overflow: hidden;
	background:url('img/banner.jpg') no-repeat;
	background-size: 100%;
}

#profile {
	width: 100%;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -50%;
	top: 60px;
}

#profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
	margin: 20px auto;
}

#profile-image img {
	width: 100%;
	height: auto;
}

#profile h2 {
	color: white;
	text-align: center;
	font-size: 14pt;
        width: 100%;
}

.section {
	width: 600px;
	padding: 20px;
	background: white;
	border: 1px solid #ccc;
	margin: 20px auto;
	border-radius: 10px;
}

.example {
	padding: 10px;
	background: #fcfcfc;
	border-radius: 10px;
}

table, dl {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

table, td, th, dl, dt, dd {
	border: 1px solid #ccc;
}

.code-show-button {
	display: block;
	margin: 10px auto 0px;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	background: #1998E2;
	color: #fff;
	text-size: 14;
}

.code-show-button:hover {
	color: #198acc;
	cursor: pointer;
}

h1 {
	color: #1998E2;
	font-size: 22px;
	text-align: center;
}

p {
	color: #777;
	font-size: 18px;
	line-height: 26px;
	
}
