body {font-family:"Arial";}
h1{font-style:italic;}
.new-section .section-header h1 { color:blue;}
#lists h1 {color:red;}
.navigation-card {
	width: 150px;
        height:	150px;
	background-image: url('../images/star.png');
	background-repeat: no-repeat;
	background-position: center;
}

#profile-image {
	width: 200px;
	height: 200px;
	background-image: url('../images/profile-picture.jpg');
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	border: 5px solid #cccccc;
	border-radius: 50%;

}
.col {
	background-color: red;
	width: 50px;
	margin: 20px;
}
.parent {
	width: 500px;
	border: 50 solid #000;
}
#col1 {
	height:500px;
	float: left;
}
#col2 {
	height: 400px;
	float: left;
}
#col3 {
	height: 300px;
	float: left;
}
#col4 {
	height: 200px;
	float: right;
}
#col5 {
	height: 100px;
	float: right;
}
#text1 {
	clear: right;
}
#text2 {
	clear: both;
}
